@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100dvh;
}
.container{
    color: white;
    font-family: "Bebas Neue",sans-serif;
    font-size: larger;
    display: grid;
    place-items: center;
}
h1{
    color: white;
    font-size: 7.5em;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
}
#divAlinhar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#divBotao{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#botaoC, #botaoV{
    margin-top: 20px;
    width: 5.5em;
    height: 2.5em;
    border-radius: 5px;
    background-color: #23D962;
    color: black;
    font-family:"Bebas Neue", sans-serif ;
    font-size: 1.5em;

    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: ease;
    animation-delay: 0s;
}
#botaoC:hover, #botaoV:hover{
    font-size: 45px;
    width: 250px;
    height: 60px;

}
#NomeArtista{
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 12.5em;
    border: 3px solid #23D962;
    height: 2.5em;
    padding: 10px;
    font-family:"Bebas Neue", sans-serif ;
    font-size: larger;

}
#lblArtista{
    font-size: 1.5em;
}
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#btnAlinharC, #btnAlinharV{
    display: flex;
    justify-content: center;
    align-items: center;
}
  